@import "include-media";

$black: #000;
$gray: #888;
$white: #fff;

$breakpoints: (
  phone: 450px,
  tablet: 768px,
  desktop: 1024px,
);

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 5px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 0;
}

p,
h3 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

a {
  color: $black;
}

a > i {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

ul {
  margin: 0;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  list-style-type: none;

  li {
    text-indent: -9px;
    &::before {
      content: "-  ";
      font-size: 1.25em;
      display: inline;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 690px;
  padding: 20mm;
}

header {
  border-bottom: 3px solid $black;
  margin-bottom: 15px;
  padding-bottom: 15px;

  a {
    display: inline-block;
    font-size: 1.25em;
    text-decoration: none;
  }

  a + a {
    display: block;
    margin-top: 0.5rem;
  }

  .page-title {
    display: flex;
    justify-content: space-between;
  }
}

main {
  display: grid;
  grid-template-columns: [left] 1fr [middle] 1fr [right];
  grid-auto-flow: row;
}

section {
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
  display: inline-block;
  break-inside: avoid;
  page-break-inside: avoid;
}

section.half {
  grid-column: unset;
}

footer {
  margin-left: auto;
  margin-right: auto;
  color: $gray;
  text-align: center;

  div {
    margin-bottom: 0.5rem;
  }

  .icons {
    a {
      display: inline-block;
      font-size: 2em;
      text-decoration: none;
    }

    a + a {
      margin-left: 0.5rem;
    }
  }

  .langs {
    a {
      display: inline-block;
    }

    a + a {
      display: inline-block;
      border-left: 2px solid $black;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  .copyright span {
    color: $gray;
    display: inline-block;
  }
}

@include media("print") {
  @page {
    size: A4 portrait;
    margin: 0.75in;
  }

  .container {
    padding: 0;
  }

  div {
    float: none !important;
    position: static !important;
    display: inline;
    box-sizing: content-box !important;
  }

  section {
    div {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    div.page-break {
      break-after: all;
      page-break-after: always;
    }

    div.page-break + hr {
      display: none;
    }

    ul {
      break-inside: avoid;
      page-break-inside: avoid;
    }
  }

  footer {
    display: none;
  }
}

@include media(">phone") {
  section .heading {
    // prefixes added to work with html-pdf
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    div:nth-last-child(1) {
      text-align: right;
      flex: 0 0 35%;
    }
  }
}

@include media(">tablet") {
  header {
    a + a {
      display: inline-block;
      border-left: 2px solid $black;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}

@include media(">desktop") {
  body {
    padding: 3rem;
  }

  .page {
    background-color: $white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
    width: 790px;

    &::before,
    &::after {
      background: transparent;
      bottom: 14px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      content: " ";
      height: 10px;
      position: absolute;
      width: 40%;
      z-index: -1;
    }

    &::before {
      left: 12px;
      transform: skew(-5deg) rotate(-5deg);
    }

    &::after {
      right: 12px;
      transform: skew(5deg) rotate(5deg);
    }
  }
}
