<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.Title }}</title>

    <!-- Favicon -->
    {{ if isset site.Params "favicon" }}
    <link rel="icon" href="/{{ site.Params.favicon }}" />
    {{ end }}

    <!-- CSS Tags -->
    {{- partial "tags_css.html" . -}}

    <!-- Plausible Analytics -->
    {{ $url := urls.Parse site.BaseURL }}
    <script defer data-domain="{{ $url.Host }}" src="https://a.tomy.me/js/script.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="container">
        {{- partial "header.html" . -}}
        {{ block "main" . }}
        {{ end }}
        {{- partial "footer.html" . -}}
      </div>
    </div>
  </body>
</html>
