<!DOCTYPE html>
<html
  lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default "en") }}
    {{- . -}}
  {{ end }}"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ with site.Params.htmlCode | default .Site.LanguageCode }}
      <meta http-equiv="content-language" content="{{ . }}" />
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.Params.author }}</title>

    <meta name="description" content="{{ site.Params.author }}{{ i18n "ones_cv" }}">
    <meta name="author" content="{{ site.Params.author }}" />
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon -->
    {{ if isset site.Params "favicon" }}
    <link rel="icon" href="/{{ site.Params.favicon }}" />
    {{ end }}

    <!-- CSS Tags -->
    {{- partial "tags_css.html" . -}}

    <!-- Plausible Analytics -->
    {{ $url := urls.Parse site.BaseURL }}
    <script defer data-domain="{{ $url.Host }}" src="https://a.tomy.me/js/script.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="container">
        <hr class="marker" />
        {{- partial "header.html" . -}}
        {{ block "main" . }}
        {{ end }}
        {{- partial "footer.html" . -}}
      </div>
    </div>
  </body>
</html>
