{{ $data := index site.Data site.Language.Lang }}
{{ with $data.content }}
<header>
  <hgroup>
    <div class="page-title">
      <h1>
        {{ range .name }}
          <span>{{ . }}</span>
        {{ end }}
      </h1>
      <sub>{{ .subscript }}</sub>
    </div>
    <h3 class="headline">
    {{ range $data.content.headline }}
      <span>{{ . }}</span>
    {{ end }}
    </h3>
  </hgroup>
  <address>
    <a target="_blank" href="mailto:{{ .email }}">
      {{ readFile "assets/icon/envelope.svg" | safeHTML }}
      {{ .email }}
    </a>
    <a target="_blank" href="tel:{{ .phone }}">
      {{ readFile "assets/icon/phone.svg" | safeHTML }}
      {{ .phone }}
    </a>
    <a target="_blank" href="{{ .website }}">
      {{ readFile "assets/icon/globe.svg" | safeHTML }}
      {{ .website }}
    </a>
    <a target="_blank" href="https://github.com/{{ .github }}">
      {{ readFile "assets/icon/github.svg" | safeHTML }}
      {{ .github }}
    </a>
    <a target="_blank" href="https://linkedin.com/in/{{ .linkedin }}">
      {{ readFile "assets/icon/linkedin.svg" | safeHTML }}
      {{ .linkedin }}
    </a>
  </address>
</header>
{{ end }}
<hr>
